{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.15"
        }
      }
    ],
    "jest"
  ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}